/*fuentes*/
/*FUENTES*/
@font-face{
	font-family:lato;
	src: url(../fonts/Lato-Light.ttf);
	}


@font-face{
	font-family:Cocogoose;
	src: url(../fonts/CocogooseProThin-trial.ttf);
	}


@font-face{
	font-family:loves;
	src: url(../fonts/LOVES.ttf);
	}
	
